<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CDE - Cimientos de ensueño</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/cimientoooos (1).ico') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a href="#" class="enlaces">
            <img src="{{ url_for('static', filename='img/cimientoooos (1).png') }}" alt="" class="logooo">
        </a>
        <ul>
            <li><a href="#">Quienes somos</a></li>
            <li><a href="#">Que hacemos</a></li>
            <li><a href="#">SOSTENIBILIDAD</a></li>
            <li><a href="#">colaboraciones</a></li>
            <li><button class="boton-1"><a href="#">Contactanos</a></button></li>
        </ul>

    </nav>
    
    <header class="cabeza">
        <div class="imagen">
        </div>
    </header>

    <section class="info-inicio">
        <div class="info">
            <h1 class="titulo">Arquitectura y Construcción</h1>
            <br>
            <hr>
            <br>
            <h4 class="sub">¿Tienes un terreno y necesitas cotizar el diseño y construcción de tu casa?</h4>
            <br>
            <p class="parrafo">En CDE <em class="color">diseñamos y construimos casas</em> con una arquitectura personalizada a tu medida, nuestra diferencia es que cada proyecto es inspirado en tu estilo de vida, gustos y sueños.</p>
            <br>
            <button class="informacion">Más información</button>
        </div>
        <div class="imagen-1">
            <img src="{{ url_for('static', filename='img/pilares.gif') }}" alt="">
        </div>
    </section>

    <section class="pilares">
        <div class="count">
            <p class="tt">conoce nuestros proyectos</p>
            <hr class="line"> 
            <h1 class="espacio">Espacios bien pensados</h1>
        </div>
        <div class="seccion">
            <div class="imagenes1">

            </div>
            <div class="imagenes2">
                
            </div>
            <div class="imagenes3">
                
            </div>
            <div class="imagenes4">
                
            </div>
        </div>
    </section>

    <section class="trabajadores">
        <div class="titulo-trab">
            <h4>Personal de trabajo</h4>
        </div>
        <div class="tarjetas">
            <div class="personal-1">
                <div class="perfil">

                </div>
                <div class="name">
                    <h2>Franson Maisonneuve</h2>
                    <p>Jefe de obra</p>
                </div>
                <div class="puesto">
                    <p>Frason es encargado de las obras en CDE para poder hacer tus sueños realidad, el es una persona importante para las construccion de los espacios de la casa.</p>
                </div>
            </div>

            <div class="personal-2">
                <div class="perfil2">

                </div>
                <div class="name2">
                    <h2>Karla Esquivel</h2>
                    <p>Gerente General Constructora</p>
                </div>
                <div class="puesto2">
                    <p>Karla en CDE, su objetivo es entregar proyectos de alta calidad, a tiempo y dentro del presupuesto, mientras asegura el crecimiento de la empresa.</p>
                </div>
            </div>

            <div class="personal-3">
                <div class="perfil3">

                </div>
                <div class="name3">
                    <h2>Matias Hernandez</h2>
                    <p>Obrero Destacado</p>
                </div>
                <div class="puesto3">
                    <p>Matias de CDE es unos de los obreros mas destacados de este ultimo tiempo, es nuestro mejor trabajador dentro del area de obreria.</p>
                </div>
            </div>
            <div class="personal-4">
                <div class="perfil4">

                </div>
                <div class="name4">
                    <h2>Nayeli Bastias</h2>
                    <p>Gerente de Ingeniería</p>
                </div>
                <div class="puesto4">
                    <p>Nayeli en CDE es la responsable de garantizar que los proyectos de ingeniería se desarrollen de manera efectiva, eficiente y segura, y que se cumplan los objetivos y metas establecidos.</p>
                </div>
            </div>
            
        </div>
    </section>

    <section class="colaboraciones">
        <div class="colabo">
            <p>Revisa nuestras colaboraciones</p>
            <hr>
            <h3>Colaboraciones</h3>
        </div>
        <div class="cola-1">
            <div class="col1">
                <div class="logos">
                    <img src="{{ url_for('static', filename='img/logo15.webp') }}" alt="logo" class="ing">
                </div>
            <h3 class="name-logo">IGNISTERRA</h3>
            <hr>
            <div class="infor">
                <p><em>IGNISTERRA</em> es la principal empresa chilena fabricante de madera aserrada seca y productos elaborados en maderas fina. Esta empresa es una colaboracion importante para obtener las mejores maderas que se puede conseguir en el mercado.</p>
            </div>
            </div>
            <div class="col2">
                <div class="logos">
                    <img src="{{ url_for('static', filename='img/logo-chc.png') }}" alt="logo" class="chc">
                </div>
            <h3 class="name-logo">CHC</h3>
            <hr>
            <div class="infor">
                <p><em>CHC</em> es la empresa en donde conseguimos lo mejor en porcelanatos, cerámicas, vinílicos, laminados y orgánicos para inspirarnos en la creación de las casas.</p>
            </div>
            </div>
        </div>
        <div class="cola-2">
            <div class="col3">
                <div class="logos">
                    <img src="{{ url_for('static', filename='img/logo2.jpg') }}" alt="logo" class="cinac">
                </div>
            <h3 class="name-logo">CINTAC</h3>
            <hr>
            <div class="infor">
                <p><em>CINTAC</em> es líder en la fabricación y comercialización de sistemas constructivos, con la más amplia oferta de productos de acero, atiende las necesidades del mercado la construcción e industria. Con presencia en Chile</p>
            </div>
            </div>
            <div class="col4">
                <div class="logos">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" class="btc">
                </div>
            <h3 class="name-logo">BTICINO</h3>
            <hr>
            <div class="infor">
                <p><em>BTICINO</em> es una marca italiana dedicada a la fabricación de productos y sistemas para la gestión de instalaciones eléctricas y de comunicaciones. Esta empresa nos brinda la tecnologia en las viviendas que creamos.</p>
            </div>
            </div>
        </div>
    </section>

    <section class="propuesta">
        <div class="pro-tite">
            <h2>Una propuesta arquitectónica que se adapta a tu estilo de vida.</h2>
        </div>
        <div class="content">
            <div class="casa-1">
                <div class="imagenes">
                    <img src="{{ url_for('static', filename='img/Casas-Lan-1.jpeg') }}" alt="casa">
                </div>
                <div class="ttt">
                    <p>Piedra Roja Chicureo</p>
                </div>
            </div>
            <div class="casa-1">
                <div class="imagenes">
                    <img src="{{ url_for('static', filename='img/Casas-Lan-4.jpeg') }}" alt="casa">
                </div>
                <div class="ttt">
                    <p>La Barbada Chicureo</p>
                </div>
            </div>
            <div class="casa-1">
                <div class="imagenes">
                    <img src="{{ url_for('static', filename='img/Casas-Lan-3.jpeg') }}" alt="casa">
                </div>
                <div class="ttt">
                    <p>Chamisero</p>
                </div>
            </div>
            <div class="casa-1">
                <div class="imagenes">
                    <img src="{{ url_for('static', filename='img/Parque-Maitencillo-1-1.jpeg') }}" alt="casa">
                </div>
                <div class="ttt">
                    <p>Maitencillo</p>
                </div>
            </div>
        </div>
        <div class="boton">
            <button class="btnn">Quiero que me contacten</button>
        </div>
    </section>

    <section class="paises">
        <div class="paises-titulo">
            <h3>Trabajos Internacionales</h3>
            <hr>
        </div>
        <div class="tokio">
            <div class="imagen-tokio">
                <img src="{{ url_for('static', filename='img/tokio-2.jpg') }}" alt="tokio" class="tokio-img">
            </div>
            <div class="info-tokio">
                <div class="titulo-tokio">
                    <h2>Casa en Tokio</h2>
                    <hr>
                </div>
                <div class="parrafo-tokio">
                    <p>Otra de las más grandes construcciones de la que estamos orgullosos es la que se encuentra en Tokio. El señor <em>Hayao Miyazaki</em>, nos pidió construir un domicilio. Este domicilio debido a la actividad sísmica de este país, es capaz de resistir terremotos, también tiene una muy buena eficiencia energética y un diseño <em>moderno e innovador</em>.</p>
                </div>
            </div>
        </div>
        <div class="brasil">
            <div class="info-brasil">
                <div class="titulo-brasil">
                    <h2>Casa en Brasil</h2>
                    <hr>
                </div>
                <div class="parrafo-brasil">
                    <p>Una de las construcciones más grandes y que estamos felices de trabajar con ellos se encuentra en Brasil. A la señorita Anitta nos pidió construir una casa que está ubicada en <em>Río de Janeiro</em> este edificio tiene un material muy resistente por cualquier tipo de terremoto este edificio tiene un <em>diseño único</em> personalidad solo para la señorita anitta</p>
                </div>
            </div>
            <div class="imagen-brasil">
                <img src="{{ url_for('static', filename='img/brasil.webp') }}" alt="brasil" class="brasil-img">
            </div>
        </div>
        <div class="eeuu">
            <div class="imagen-eeuu">
                <img src="{{ url_for('static', filename='img/eeuu.jpg') }}" alt="eeuu" class="eeuu-img">
            </div>
            <div class="info-eeuu">
                <div class="titulo-eeuu">
                    <h2>Mansion en E.E.U.U</h2>
                    <hr>
                </div>
                <div class="parrafo-eeuu">
                    <p>Kylie Jenner, la famosa modelo y empresaria, nos contactó un día con una solicitud especial. Pidió que <em>construyeramos su sueño de mansión en California</em>, Estados Unidos. Quería un lugar donde pudiera escapar del ritmo frenético de su vida pública y disfrutar de la <em>tranquilidad y la privacidad</em>.</p>
                </div>
            </div>
        </div>
        <div class="arg">
            <div class="info-arg">
                <div class="titulo-arg">
                    <h2>Casa de Messi</h2>
                    <hr>
                </div>
                <div class="parrafo-arg">
                    <p>Una de nuestras colaboraciones con la que es una maravilla trabajar fue en argentina, con el mejor jugador de la historia del futbol, <em>Leonel messi</em> que nos pidió una casa con la mejor <em>calidad y innovación en Buenos Aires</em>, la casa más lujosa de argentina con los <em>mejores materiales</em>.</p>
                </div>
            </div>
            <div class="imagen-arg">
                <img src="{{ url_for('static', filename='img/messi.png') }}" alt="arg" class="arg-img">
            </div>
        </div>
        <button class="contact">Contáctanos ahora!</button>
    </section>

    <section class="detalles">
        <div class="titulo-detalles">
            <h3>Detalles que hacen la diferencia</h3>
            <hr>
        </div>
        <div class="content-detalles">
            <div class="imagenes-detalles">
                <img src="{{ url_for('static', filename='img/Ehaus.jpg') }}" alt="muelle">
            </div>
            <div class="imagenes-detalles">
                <img src="{{ url_for('static', filename='img/cocina.jpg') }}" alt="cocina">
            </div>
            <div class="imagenes-detalles">
                <img src="{{ url_for('static', filename='img/diseño.jpg') }}" alt="diseño">
            </div>
            <div class="imagenes-detalles">
                <img src="{{ url_for('static', filename='img/casas.jpg') }}" alt="casas">
            </div>
            <div class="imagenes-detalles">
                <img src="{{ url_for('static', filename='img/copia.jpg') }}" alt="copia">
            </div>
            <div class="imagenes-detalles">
                <img src="{{ url_for('static', filename='img/construccion.jpg') }}" alt="constru">
            </div>
        </div>
    </section>

    <section class="contactoo">
        <div class="titulo-contacto">
            <h3>¿Tienes un proyecto en mente? Contáctanos</h3>
            <hr>
        </div>
        <div class="separacion">
            <div class="formulario">
                <div class="form">
                    <input type="text" name="nombre" placeholder="Nombre" class="nombre">
                    <input type="email" name="email" placeholder="Correo electronico" class="email">
                    <input type="text" name="region" placeholder="Región" class="region">
                    <input type="number" name="telefono" placeholder="Telefono" class="cel">
                    <textarea name="text" id="text" placeholder="Mensaje" class="mensaje"></textarea>
                    <button type="submit" class="subb">Enviar los datos</button>
                </div>
            </div>
            <div class="textoo">
                
                <div class="txt">
                    <h3>Escríbenos</h3>
                    <hr>
                </div>
                <div class="text2">
                    <p >y en menos de 24 horas una persona de nuestro equipo se pondrá en contacto contigo.</p>
                    <p class="a1">También puedes llamarnos</p>
                </div>
                <div class="nuum">
                    <h4 class="num1">+56 (9) 9998 8586</h4>
                    <h4 class="num2">+56 (9) 7999 8957</h4>
                </div>
            </div>
        </div>
    </section>

    <footer class="foot">
        <div class="logoo">
            <img src="{{ url_for('static', filename='img/cimientoooos (1).png') }}" alt="logo">
        </div>
        <div class="rd">
            <div class="redes">
                <img src="{{ url_for('static', filename='img/instagram (2).png') }}" alt="ig">
            </div>
            <div class="redes">
                <img src="{{ url_for('static', filename='img/whatsapp (1).png') }}" alt="ws">
            </div>
            <div class="redes">
                <img src="{{ url_for('static', filename='img/youtube (1).png') }}" alt="yt">
            </div>
            <div class="redes">
                <img src="{{ url_for('static', filename='img/correo-electronico (1).png') }}" alt="ce">
            </div>
            <div class="redes">
                <img src="{{ url_for('static', filename='img/facebook (2).png') }}" alt="fc">
            </div>
        </div>
    </footer>

    <script src="script.js"></script>
</body>
</html>